.slider {
   background-color: #fff;
   margin-top: 2em;
   margin-bottom: 2em;
}

#tooltip_min {
   display: none;
}

#tooltip_max {
   display: none;
}

#header, #main {
   margin-bottom: 0
}

#footer {
   background-color: #009688;
   color: #fff
}

#footer a {
   color: #fff
}

div#rating-form-group {
  text-align: center;
  line-height: 4em;
}