/* Header, footer, main */

#header, #main {
   margin-bottom: 0
}

img.logo {
  height: 130%;
  margin-top: -3px;   
}

#footer {
   background-color: #009688;
   color: #fff
}

#footer a {
   color: #fff
}


/* Slider */

div#rating-form-group {
  text-align: center;
  line-height: 4em;
}

.slider {
   background-color: #fff;
   margin-top: 2em;
   margin-bottom: 2em;
}

#tooltip_min {
   display: none;
}

#tooltip_max {
   display: none;
}


/* Chart */

#lineChart .axis path, #lineChart .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

#lineChart .x.axis path {
   display: none;
}

#lineChart .line {
   fill: none;
   stroke: steelblue;
   stroke-width: 1.5px;
}


/* Mobile layout */

@media only screen and (max-device-width: 480px) {

   body {
      background-color: #009688;      
   }
   
   div.main-container {
      width: 100%;
      padding: 0;
   }

   div#main {
      min-height: 350px;
   }

   div#footer {
      box-shadow: none;
   }
}